<header>
    <img class="embassy-logo" src="/assets/logo-embassy.png" alt="logo">

    <section class="upper-header">
        <img class="page-logo" src="/assets/header-logo.svg" alt="page logo">

        <button class="nav-menu">
            <img src="/assets/menu.svg" alt="navigation menu">
        </button>  

    <div class="header-nav">
    <div class="header-link">
        <button class="button-linksnav">embassy
            <img src="/assets/dropdown.svg" alt="dropdown" width="12.5" height="8">
        </button>
        <nav class="header-link-navigation">
            <ul>
                <li>
                    <a href="#">embassy</a>
                </li>
                <li>
                    <a href="#">over embassy</a>
                </li>
                <li>
                    <a href="#">organisatie</a>
                </li>
                <li>
                    <a href="#">evenementen locatie</a>
                </li>
                <li>
                    <a href="#">steun ons</a>
                </li>
                <li>
                    <a href="#">nieuws</a>
                </li>
                <li>
                    <a href="#">partners</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="header-link">
        <button class="button-linksnav">collectie
            <img src="/assets/dropdown.svg" alt="dropdown" width="12.5" height="8">
        </button>
        <nav class="header-link-navigation">
            <ul>
                <li>
                    <a href="#">collectie</a>
                </li>
                <li>
                    <a href="#">online catalogus</a>
                </li>
                <li>
                    <a href="#">digitale collectie</a>
                </li>
                <li>
                    <a href="#">world of the free mind</a>
                </li>
                <li>
                    <a href="#">verzamelgebieden</a>
                </li>
                <li>
                    <a href="#">over de bibliotheek</a>
                </li>   
            </ul>
        </nav>
    </div>

    <div class="header-link">
        <button class="button-linksnav">museum
            <img src="/assets/dropdown.svg" alt="dropdown" width="12.5" height="8">
        </button>
        <nav class="header-link-navigation">
            <ul>
                <li>
                    <a href="#">museum</a>
                </li>
                <li>
                    <a href="#">webshop</a>
                </li>
                <li>
                    <a href="#">opneningstijden, prijzen & locatie</a>
                </li>
                <li>
                    <a href="#">tentoonstellingen</a>
                </li>
                <li>
                    <a href="#">agenda</a>
                </li>
                <li>
                    <a href="#">over het museum</a>
                </li>
                <li>
                    <a href="#">kidspagina</a>
                </li>   
            </ul>
        </nav>
    </div>

    <div class="header-link">
        <button class="button-linksnav">onderzoek
            <img src="/assets/dropdown.svg" alt="dropdown" width="12.5" height="8">
        </button>
        <nav class="header-link-navigation">
            <ul>
                <li>
                    <a href="#">onderzoek</a>
                </li>
                <li>
                    <a href="#">archief activiteiten</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
    </section>
</header>

<script>

let hidingNav = document.querySelectorAll(".header-link");

hidingNav.forEach(element => {
  let buttonLinks = element.querySelector(".button-linksnav");
  let navLinks = element.querySelector(".header-link-navigation");

  buttonLinks.onclick = function() {
    navLinks.classList.toggle("show-linksnav");
  }
});

</script>