{%  render 'partials/header.liquid' %} 

<section class="filter-navigation">

    <div class="search-bar">
        <input type="search" placeholder="zoek hier..." minlength="1400" maxlength="2100">
        <img src="/assets/search.svg" alt="search-button">
    </div>
    <select class="auteur">
        <option value="auteur">auteur</option>
    </select>

    <select class="place">
        <option value="plaats">plaats</option>
    </select>

    <button class="jaar">jaar</button>
        <input type="range">
    
    <select class="digital">
        <option value="gedititaliseerde publicaties">gedititaliseerde publicaties</option>
    </select>
</section>