*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detail-page {
    position: relative;
}

.detail-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-main);
    gap: 16px;
    width: 100%;
    height: 48px;
    padding-left: 16px;
}

.detail-nav a {
    font-family: var(--main-font);
    font-size: var(--font-size-xs);
    background: var(--color-secondary);
    color: var(--color-main);
    border-radius: 10px;
    text-decoration: none;
    padding-bottom: 6px;
    padding-top: 8px;
    padding-inline: 6px;
}

.detail-info {
    margin-left: 24px;
}

.detail-nav button {
    font-family: var(--small-font);
    font-size: var(--font-size-s);
    color: var(--color-secondary);
    border: none;
    background: none;
}

.detail-book-info {
    display: none;
    transform: translateY(100%);
}

.detail-book-info-open {
    display: block;
    transform: translateY(0%);
    border: 2px solid var(--color-main);
    background: var(--color-white);
    position: absolute;
    top: 0;
    z-index: 10;
    margin-left: 16px;
    margin-top: 64px;
}

.detail-book-info h1, .detail-book-reaction h1 {
    font-family: var(--main-font);
    font-size: var(--font-size-m);
    color: var(--color-main);
    margin-bottom: 24px;
}

.detail-book-info h2 {
    font-family: var(--main-font);
    font-size: var(--font-size-s);
    color: var(--color-main);
}

.detail-book-info p, .detail-book-reaction label, .detail-book-reaction input {
    font-family: var(--small-font);
    font-size: var(--font-size-s);
    color: var(--color-main);
}

.detail-book-info p {
    margin-bottom: 8px;
}

.detail-book-reaction {
    display: none;
    transform: translateY(100%);
}

.detail-book-reaction-open {
    display: block;
    transform: translateY(0%);
    border: 2px solid var(--color-main);
    background: var(--color-white);
    position: absolute;
    top: 0;
    z-index: 9;
    margin-left: 16px;
    margin-top: 64px;
}

.detail-reactions.detail-reactions-open, .detail-info.detail-info-open {
    border: 2px solid var(--color-secondary);
    padding-inline: 6px;
    padding-block: 3px;
    border-radius: 10px;
}

.detail-book-reaction form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.detail-book-reaction input[type="submit"] {
    font-family: var(--small-font);
    font-size: var(--font-size-s);
    background: var(--color-main);
    color: var(--color-secondary);
    border: none;
    border-radius: 10px;
    padding-inline: 6px;
    padding-block: 3px;
    margin-top: 8px;
}

.book-carrousel {
    display: flex;
    align-items: center;
}

.slider-container {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}