*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detail-page {
    height: 100vh;
    position: relative;
}

.detail-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-main);
    gap: 16px;
    width: 100%;
    height: 64px;
    padding-left: 16px;

    @media (min-width: 834px) {
        height: 96px;
    }
}

.detail-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-size: var(--font-size-xs);
    background: var(--color-secondary);
    color: var(--color-main);
    border-radius: 10px;
    text-decoration: none;
    padding-bottom: 6px;
    padding-top: 8px;
    padding-inline: 6px;

    
    @media (min-width: 834px) {
        font-size: var(--font-size-s);
        padding-top: 10px;
        padding-bottom: 8px;
        padding-inline: 8px;
    }

    @media (min-width: 1280px) {
        font-size: var(--font-size-m);
        padding-top: 11px;
        padding-bottom: 9px;
        padding-inline: 10px;
    }
}

.detail-info {
    margin-left: 24px;
}

.detail-nav button {
    font-family: var(--small-font);
    font-size: var(--font-size-s);
    color: var(--color-secondary);
    border: none;
    background: none;
    cursor: pointer;

    @media (min-width:834px) {
        font-size: var(--font-size-m);
    }

    @media (min-width:1280px) {
        font-size: var(--font-size-l);
    }
}

.detail-nav button.detail-reactions-open, .detail-nav button.detail-info-open {
    border: 2px solid var(--color-secondary);
    padding-inline: 6px;
    padding-block: 3px;
    border-radius: 10px;

    @media (min-width: 834px) {
        padding-block: 5px;
        padding-inline: 10px;
    }

    @media (min-width: 1280px) {
        padding-block: 6px;
        padding-inline: 12px;
    }
}

.detail-book-info {
    display: none;
    transform: translateY(100%);
}

.detail-book-info-open {
    display: block;
    transform: translateY(0%);
    border: 2px solid var(--color-main);
    border-radius: 10px;
    background: var(--color-white);
    position: absolute;
    width: 90%;
    top: 0;
    z-index: 10;
    margin-inline: 16px;
    margin-top: 80px;
    padding: 8px;

    @media (min-width: 600px) {
        width: 70%;
    }

    @media (min-width: 834px) {
        width: 50%;
        margin-top: 112px;
        padding: 12px;
    }

    @media (min-width: 1080px) {
        max-width: 600px;
        padding: 16px;
    }
}

.detail-book-info h1, .detail-book-reaction h1 {
    font-family: var(--main-font);
    font-size: var(--font-size-m);
    color: var(--color-main);
    margin-bottom: 12px;
}

.detail-book-info h2, .detail-book-reaction label {
    font-family: var(--main-font);
    font-size: var(--font-size-xs);
    color: var(--color-main);
    margin-bottom: 2px;

    @media (min-width: 834px) {
        font-size: var(--font-size-s);
        margin-bottom: 3px;
    }
}

.detail-book-info p {
    margin-bottom: 4px;

    @media (min-width: 834px) {
        margin-bottom: 6px;
    }

    @media (min-width: 1080px) {
        margin-bottom: 8px;
    }
}

.detail-book-info p, .detail-book-reaction input {
    font-family: var(--small-font);
    font-size: var(--font-size-s);
    color: var(--color-main);
}

.detail-book-reaction button {
    font-family: var(--main-font);
    background: var(--color-main);
    color: var(--color-secondary);
    font-size: var(--font-size-s);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-inline: 11px;
    margin-left: auto;
}

.detail-book-reaction {
    display: none;
    transform: translateY(100%);
}

.detail-book-reaction-open {
    display: block;
    transform: translateY(0%);
    border: 2px solid var(--color-main);
    border-radius: 10px;
    background: var(--color-white);
    position: absolute;
    width: 90%;
    top: 0;
    z-index: 9;
    margin-inline: 16px;
    margin-top: 80px;
    padding: 8px;

    @media (min-width: 600px) {
        width: 70%;
    }

    @media (min-width: 834px) {
        width: 50%;
        margin-top: 112px;
        padding: 12px;
    }

    @media (min-width: 1080px) {
        max-width: 600px;
        padding: 16px;
    }
}

.detail-book-reaction textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 16px;

    @media (min-width: 834px) {
        margin-bottom: 20px;
    }

    @media (min-width: 834px) {
        margin-bottom: 24px;
    }
}

.detail-book-reaction form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.book-carrousel {
    display: flex;
    justify-content: center;
}

.slider-container {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    max-height: 480px;
    margin-top: 48px;
    width: 340px;

    @media (min-width: 400px) {
        width: 375px;
    }

    @media (min-width: 500px) {
        width: 410px;
    }

    @media (min-width: 600px) {
        width: 445px;
    }

    @media (min-width: 834px) {
        width: 515px;
    }

    @media (min-width: 1080px) {
        width: 595px;
    }
}

.slider-container picture, .slider-container source, .slider-container img {
    object-fit: contain;
    width: min-content;
    height: 200px;

    @media (min-width: 400px) {
        height: 220px;
    }

    @media (min-width: 500px) {
        height: 240px;
    }

    @media (min-width: 600px) {
        height: 260px;
    }

    @media (min-width: 834px) {
        height: 300px;
    }

    @media (min-width: 1080px) {
        height: 330px;
    }
}

@supports (scroll-snap-type: x mandatory) {
    .slider-container {
        scroll-snap-type: x mandatory;
        gap: 200px;
    }

    .slider-container img {
        scroll-snap-align: center;
    }
} 

.slider-container::scroll-button(*) {
    border: 0;
    font-size: 48px;
    background: none;
    color: var(--color-main);
    cursor: pointer;
    position: absolute;
    top: 22rem;

    @media (min-width: 400px) {
        top: 24rem;
    }

    @media (min-width: 500px) {
        top: 26rem;
    }

    @media (min-width: 600px) {
        top: 28rem;
    }

    @media (min-width: 834px) {
        top: 34rem;
    }

    @media (min-width: 1080px) {
        top: 38rem;
    }
}

.slider-container::scroll-button(*):hover {
    scale: 1.2;
}


.slider-container::scroll-button(left) {
    content: "◄";
    margin-right: 18rem;

    @media (min-width: 500px) {
        margin-right: 23rem;
    }

    @media (min-width: 600px) {
        margin-right: 25rem;
    }

    @media (min-width: 834px) {
        margin-right: 29rem;
    }

    @media (min-width: 1080px) {
        margin-right: 34rem;
    }
}

.slider-container::scroll-button(right) {
    content: "►";
    margin-left: 18rem;

    @media (min-width: 500px) {
        margin-left: 23rem;
    }

    @media (min-width: 600px) {
        margin-left: 25rem;
    }

    @media (min-width: 834px) {
        margin-left: 29rem;
    }

    @media (min-width: 1080px) {
        margin-left: 34rem;
    } 
}

.slider-container::scroll-button(*):focus {
    outline: 2px solid var(--color-main);
}
