*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(/assets/header-image.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 110%;

    @media (min-width: 834px) {
        background-size: 100%;
    }
}

.upper-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-main);
    height: 55px;
    margin-top: 10%;
    position: relative;

    @media (min-width:834px) {
        height: 65px;
        margin-top: 12.5%;
    }

    @media (min-width: 1280px) {
        height: 75px;
        margin-top: 15%;
    }
}

.page-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 834px) {
        width: 200px;
    }

    @media (min-width: 1280px) {
        width: 225px;;
    }
}

.nav-menu {
    background: none;
    border: hidden;
    height: 40px;
    margin-left: auto;
    margin-right: 16px;
    cursor: pointer;

    @media (min-width: 834px) {
        display: none;
    }
}

.embassy-logo {
    margin-top: 16px;
    margin-left: 16px;
}


.header-nav  {
    width: 100%;
    display: none;

    @media (min-width: 834px) {
        display: flex;
        justify-content: space-between;
        margin-inline: 64px;
    }
}

.header-nav nav {
    display: none;
}

.header-nav button {
    background: var(--color-main);
    color: var(--color-secondary);
    border: none;
    border-radius: 10px;
    height: 35px;
    padding-inline: 10px;
    cursor: pointer;
}